html {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* menu */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(101, 86, 222);
    padding: 10px 40px;
}

header img {
    width: 220px;
}

header img:hover {
    cursor: pointer;
}

.navBar {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.navBar li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

.navBar li a{
    text-decoration: none;
    color: white;
}
/* end-menu */

#icon_arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(128, 128, 201);
    position: fixed;
    margin-top: 50px;
    margin-left: 80px;
}

#icon_arrow:hover {
    background-color: rgb(101, 86, 222);
}

#icon_arrow i {
    color: white;
    margin-top: 20px;
    margin-left: 6px;
    cursor: pointer;
}

#btn_nextpage {
    width: 55px;
    height: 55px;
    background-color: rgb(128, 128, 201);
    border-radius: 50px;
    position: fixed;
    margin-top: 80px;
    margin-left: 112px;
}

#btn_nextpage:hover {
    background-color: rgb(101, 86, 222);
}

#btn_nextpage i {
    color: white;
    margin-top: 26px;
    margin-left: 14px;
    cursor: pointer;
}

.intro {
    margin-left: 290px;
    margin-bottom: 30px;
}

.intro p {
    text-transform: uppercase;
    font-style: italic;
}

.box_div {
    width: 60%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 30px;
}

button {
    width: 120px;
    background-color: rgb(128, 128, 201);
    border: 1px solid rgb(128, 128, 201);
    border-radius: 4px;
    color: white;
    padding: 4px;
}

button:hover {
    background-color: rgb(68, 68, 112);
    border: 1px solid rgb(68, 68, 112);
}

#title_modal {
    margin-left: 220px;
}

.inputAddVaga {
    margin-bottom: 10px;
}

.label label, .inputs input {
    display: block;
    margin-bottom: 10px;
}

.label label {
    width: 340px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: right;
}

.label label:nth-child(1), label:nth-child(2) {
    margin-top: 4px;
}

.inputs input {
    margin-bottom: 8px;
    width: 550px;
    height: 30px;
}

.input_label {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.addHor {
    align-items: center;
}

.addHor button {
    margin-left: 15px;
    align-items: center;
}

button {
    display: block;
    margin: auto;
    font-size: 20px;
}


#btnSalva {
    margin-bottom: 10px;
}


#btn_addhor {
    width: 200px;
}

.SalvoHorarios {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.labelRender {
    font-weight: 550;
}

li {
    list-style: square ;
}



@media screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 120px;
    }

    header img {
        width: 150px;
        margin-left: -35px;
    }

    header nav {
        width: 80%;
    }
    
    .navBar {
        width: 100%;
        display: block;
        margin-left: -20px;
    }

    .navBar li {
        font-size: 15px;
        margin-bottom: 8px;
        /* text-align: right; */
    }

    #btn_nextpage {
        position: absolute;
        margin-top: 165px;
        margin-left: 290px;
    }

    #icon_arrow {
        margin-top: 20px;
        margin-left: 15px;
    }

    .bodyIndex {
        width: 100%;
        margin: 0px;
    }

    .intro {
        width: 100%;
        margin-left: 15px;
    }

    .intro p {
        width: 80%;
    }

    .box_div {
        width: 90%;
        /* width: 370px; */
    }

    #title_modal {
        width: 80%;
        margin-left: 70px;
    }

    .input_label {
        width: 100%;
    }

    .label {
        margin-left: 0px;
        width: 50%;
    }

    .label label {
        font-size: 13px;
        text-align: left;
        margin-left: 5px;
        width: 100%;
    }

    .label label:nth-child(4) {
        margin-top: -15px;
    } 

    .inputs {
        margin-left: 0px;
        width: 50%;
    }

    .inputs input{
        margin-left: 0px;
        width: 95%;
    }

    #btn_addhor {
        width: 100px;
        font-size: 19px;
    }

    .SalvoHorarios {
        width: 90%;
        margin-left: 5px;
    }
}

.numDeVagasDivulg {
    font-weight: 600;
}